Repository vertusdster/zashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint --fix, prettier --write

.lintstagedrc.yaml:

'package.json': 'sort-package-json'
'*.{js,jsx,ts,tsx,vue}': 'eslint --fix'
'*.{js,jsx,ts,tsx,vue,html,css,json,yml,yaml}': 'prettier --write'

updatre
  .gitignore
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeGrid.vue
Due: eslint --fix, prettier --write

Create test
  test
Due: none

feat: add new feature
  src/components/proxies/ProxyNodeGrid.vue
Due: eslint --fix, prettier --write

chore(main): release 1.1.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

deploy: cacd4c6256eb902c6f2946b9c6abbb545af89e7b
  assets/index-CRs7Lzod.js
  index.html
  sw.js
Due: eslint --fix, prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

feat: remove right click event
  src/components/proxies/ProxyGroup.vue
  src/components/proxies/ProxyNodeCard.vue
Due: eslint --fix, prettier --write

chore(main): release 1.2.0
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

deploy: a4aa8dd44c7babd31e27ca7f7837d37da2d54537
  assets/index-BDnZE26k.css
  assets/index-CRs7Lzod.js
  assets/index-Cl1UjOme.css
  assets/index-Dl3155VP.js
  index.html
  sw.js
Due: eslint --fix, prettier --write

deploy: 29be8d174e345e96518038ffed293f257b7e1ce8
  assets/index-DVMoZIMn.js
  index.html
  sw.js
Due: eslint --fix, prettier --write
